body {
	background-image: url("img/dbzbg.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #222222;
	font-family: arial;
	color: #ffffff;
	text-shadow: 0 0 0.5px #000000, 0.5px 0.5px 0.5px #000000,
				-0.5px -0.5px 0.5px #000000, 0.5px -0.5px 0.5px #000000,
				-0.5px 0.5px 0.5px #000000;
}

a {
	color: #00ffff;
}

div {
	border: 2px solid white;
	background-color: #000000;
	background-image: none;
}

#num a, #techInfo a, #explanation a {
	color: #cccccc;
	background-color: #0000aa;
	background-image: none;
}