body {
	background-image: url("img/dbzbg.jpg");
	background-color: #222222;
	font-family: arial;
	color: #ffffff;
	text-shadow: 0px 0px 1px #000000;
}

a {
	color: #00ffff;
}

#pl {
	border: 2px solid white;
	background-color: #000000;
	background-image: none;
}

#num {
	color: #cccccc;
	background-color: #0000aa;
	background-image: none;
}