body {
	background-color: #002200;
	font-family: arial;
	font-size: 100%;
	color: #ffffff;
}

li {
	border: 1px solid white;
	padding: 15px;
}

img {
	display: block;
	margin: auto;
	width: 50%;
}

a {
	color: #00ffff;
}

